// slider__wrap
.slider__wrap {
    background-color: #eee;
}

// slider__inner
.slider__inner {
    position: relative;

    // slider__img
    .slider__img {

        .slider {

            .text {

                h3 {
                    font-size: 110px;
                    font-weight: 900;
                    text-transform: uppercase;
                    line-height: 1;
                    margin-bottom: 40px;
                }
                p {
                    font-size: 22px;
                    line-height: 1.2;
                    margin-bottom: 50px;
                }
                .more {
                    font-size: 18px;
                }
            }
            .img {
                position: absolute;
                right: 0;
                top: -120px;
                width: 600px;
                height: 600px;
                background-image: url(../../img/slider/slidergradient.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;

                img {
                    &:nth-child(1) {
                        width: 300px;
                        height: 300px;
                        position: absolute;
                        bottom: 20px;
                        left: 70px;
                    }
                    &:nth-child(2) {
                        width: 300px;
                        height: 300px;
                        position: absolute;
                        right: 30px;
                        top: 30px;
                    }
                    &:nth-child(3) {
                        width: 300px;
                        height: 300px;
                        position: absolute;
                        left: -10px;
                        top: -30px;
                    }
                }
            }
            .circle {

                span {
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
                
                span:nth-child(1){
                    background-color: var(--button_red);
                    left: 55%;
                    width: 10px;
                    height: 10px;
                }
                span:nth-child(2){
                    background-color: var(--button_green);
                    top: 20%;
                    left: -10%;
                    width: 40px;
                    height: 40px;
                }
                span:nth-child(3){
                    background-color: var(--button_green);
                    left: 90%;
                }
                span:nth-child(4){
                    background-color: var(--button_green);
                    left: 17%;
                    top: -10%;
                    width: 10px;
                    height: 10px;
                }
                span:nth-child(5){
                    background-color: var(--button_blue);
                    top: 80%;
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
    // slider__btn
    .slider__btn {
        > a {
            position: absolute;
            top: 50%;
            width: 23px;
            height: 40px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            transition: all 0.1s;

            &:hover {
                opacity: 0.7;
            }
        }

        .left {
            left: 20px;
            background-image: url(../../img/slider/sliderleft.png);

        }
        .right {
            right: 20px;
            background-image: url(../../img/slider/sliderright.png);
        }
    }
    // slider__dot
    .slider__dot {
        position: absolute;
        left: 50%;
        bottom: -80px;
        transform: translateX(-50%);

        a {
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin: 0 5px;
            border: 4px solid #FF3344;
            background-color: #FF3344;
            box-shadow: 0 0 0 3px transparent;

            &.active {
                box-shadow: 0 0 0 3px #FF3344;
                border-width: 4px;
                background-color: #fff;
            }
        }
    }
}