.mainCircle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.item {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    }
.item .circle {
    border: 1px solid #00b40f;
    position: absolute;
    opacity: 0.8;
    width: 260px;
    height: 260px;
    }
@keyframes reverse-rotate {
    50% {
        border-radius: 40%;
    }
    100% {
        transform: rotate(360deg);
        border-radius: 50%;
    }
    }
.item .circle-1 {
    animation: rotate-circle1 4s ease-in-out infinite alternate;
    }
    @keyframes rotate-circle1 {
    0% {
        transform: rotate(0);
        border-color: #00b40f73;
    }
    100% {
        transform: rotate(370deg) scaleY(0.4);
        border-radius: 50%;
    }
    }
.item .circle-2 {
    animation: rotate-circle2 4s ease-in-out infinite alternate;
    }
    @keyframes rotate-circle2 {
    0% {
        transform: rotate(0);
        border-color: #00b40f73;
    }
    100% {
        transform: rotate(380deg) scaleY(0.4);
        border-radius: 50%;
    }
    }
.item .circle-3 {
    animation: rotate-circle3 4s ease-in-out infinite alternate;
    }
    @keyframes rotate-circle3 {
    0% {
        transform: rotate(0);
        border-color: #00b40f73;
    }
    100% {
        transform: rotate(390deg) scaleY(0.4);
        border-radius: 50%;
    }
    }
.item .circle-4 {
    animation: rotate-circle4 4s ease-in-out infinite alternate;
    }
    @keyframes rotate-circle4 {
    0% {
        transform: rotate(0);
        border-color: #00b40f73;
    }
    100% {
        transform: rotate(400deg) scaleY(0.4);
        border-radius: 50%;
    }
    }
.item .circle-5 {
    animation: rotate-circle5 4s ease-in-out infinite alternate;
    }
    @keyframes rotate-circle5 {
    0% {
        transform: rotate(0);
        border-color: #00b40f73;
    }
    100% {
        transform: rotate(410deg) scaleY(0.4);
        border-radius: 50%;
    }
    }
.item .circle-6 {
    animation: rotate-circle6 4s ease-in-out infinite alternate;
    }
    @keyframes rotate-circle6 {
    0% {
        transform: rotate(0);
        border-color: #00b40f73;
    }
    100% {
        transform: rotate(420deg) scaleY(0.4);
        border-radius: 50%;
    }
    }
.item .circle-7 {
    animation: rotate-circle7 4s ease-in-out infinite alternate;
    }
    @keyframes rotate-circle7 {
    0% {
        transform: rotate(0);
        border-color: #00b40f73;
    }
    100% {
        transform: rotate(430deg) scaleY(0.4);
        border-radius: 50%;
    }
    }
.item .circle-8 {
    animation: rotate-circle8 4s ease-in-out infinite alternate;
    }
    @keyframes rotate-circle8 {
    0% {
        transform: rotate(0);
        border-color: #00b40f73;
    }
    100% {
        transform: rotate(440deg) scaleY(0.4);
        border-radius: 50%;
    }
    }
.item .circle-9 {
    animation: rotate-circle9 4s ease-in-out infinite alternate;
    }
    @keyframes rotate-circle9 {
    0% {
        transform: rotate(0);
        border-color: #00b40f73;
    }
    100% {
        transform: rotate(450deg) scaleY(0.4);
        border-radius: 50%;
    }
    }
.item .circle-10 {
    animation: rotate-circle10 4s ease-in-out infinite alternate;
    }
    @keyframes rotate-circle10 {
    0% {
        transform: rotate(0);
        border-color: #00b40f73;
    }
    100% {
        transform: rotate(460deg) scaleY(0.4);
        border-radius: 50%;
    }
    }
.item .circle-11 {
    animation: rotate-circle11 4s ease-in-out infinite alternate;
    }
    @keyframes rotate-circle11 {
    0% {
        transform: rotate(0);
        border-color: #00b40f73;
    }
    100% {
        transform: rotate(470deg) scaleY(0.4);
        border-radius: 50%;
    }
    }
.item .circle-12 {
    animation: rotate-circle12 4s ease-in-out infinite alternate;
    }
    @keyframes rotate-circle12 {
    0% {
        transform: rotate(0);
        border-color: #00b40f73;
    }
    100% {
        transform: rotate(480deg) scaleY(0.4);
        border-radius: 50%;
    }
    }
.item .circle-13 {
    animation: rotate-circle13 4s ease-in-out infinite alternate;
    }
    @keyframes rotate-circle13 {
    0% {
        transform: rotate(0);
        border-color: #00b40f73;
    }
    100% {
        transform: rotate(490deg) scaleY(0.4);
        border-radius: 50%;
    }
    }
.item .circle-14 {
    animation: rotate-circle14 4s ease-in-out infinite alternate;
    }
    @keyframes rotate-circle14 {
    0% {
        transform: rotate(0);
        border-color: #00b40f73;
    }
    100% {
        transform: rotate(500deg) scaleY(0.4);
        border-radius: 50%;
    }
    }
.item .circle-15 {
    animation: rotate-circle15 4s ease-in-out infinite alternate;
    }
    @keyframes rotate-circle15 {
    0% {
        transform: rotate(0);
        border-color: #00b40f73;
    }
    100% {
        transform: rotate(510deg) scaleY(0.4);
        border-radius: 50%;
    }
    }
.item .circle-16 {
    animation: rotate-circle16 4s ease-in-out infinite alternate;
}
    @keyframes rotate-circle16 {
    0% {
        transform: rotate(0);
        border-color: #00b40f73;
    }
    100% {
        transform: rotate(520deg) scaleY(0.4);
        border-radius: 50%;
    }
    }
.item .circle-17 {
    animation: rotate-circle17 4s ease-in-out infinite alternate;
}
@keyframes rotate-circle17 {
    0% {
        transform: rotate(0);
        border-color: #00b40f73;
    }
    100% {
        transform: rotate(530deg) scaleY(0.4);
        border-radius: 50%;
    }
}
.item .circle-18 {
    animation: rotate-circle18 4s ease-in-out infinite alternate;
}
@keyframes rotate-circle18 {
    0% {
        transform: rotate(0);
        border-color: #00b40f73;
    }
    100% {
        transform: rotate(540deg) scaleY(0.4);
        border-radius: 50%;
    }
}
/* //mainCircle */
/* menu__circle */
div.menu__circle__wrap {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

span.menu__circle {
    display: block;
    width: 36px;
    height: 4px;
    border-radius: 3px;
    background: rgb(123, 255, 0);
    position: absolute;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

span.menu__circle:nth-of-type(4n - 3) {
    left: 24.5px;
    -webkit-animation-name: rotate1;
    animation-name: rotate1;
}

span.menu__circle:nth-of-type(3) {
    left: 2px;
}

span.menu__circle:nth-of-type(7) {
    right: 2px;
}

span.menu__circle:nth-of-type(4n-1) {
    top: 24.5px;
    width: 4px;
    height: 39px;
    -webkit-animation-name: rotate1;
    animation-name: rotate1;
}

span.menu__circle:nth-of-type(5) {
    bottom: 0;
}

span.menu__circle:nth-of-type(4n - 2) {
    transform: rotate(-45deg);
    -webkit-animation-name: rotate2;
    animation-name: rotate2;
}

span.menu__circle:nth-of-type(2) {
    top: 12px;
}

span.menu__circle:nth-of-type(6) {
    bottom: 12px;
    right: 0;
}

span.menu__circle:nth-of-type(4n) {
    transform: rotate(45deg);
    -webkit-animation-name: rotate3;
    animation-name: rotate3;
}

span.menu__circle:nth-of-type(4) {
    bottom: 12px;
}

span.menu__circle:nth-of-type(8) {
    top: 12px;
    right: 0;
}

@-webkit-keyframes rotate1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes rotate1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@-webkit-keyframes rotate2 {
    from {
        transform: rotate(-45deg);
    }

    to {
        transform: rotate(135deg);
    }
}

@keyframes rotate2 {
    from {
        transform: rotate(-45deg);
    }

    to {
        transform: rotate(135deg);
    }
}

@-webkit-keyframes rotate3 {
    from {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(225deg);
    }
}

@keyframes rotate3 {
    from {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(225deg);
    }
}
/* //menu__circle */

/* menu__planet */
.menu__planet {
    position: absolute;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
}

.menu__planet::before {
    content: "";
    position: absolute;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(15deg);
    height: 25px;
    width: 120px;
}
.menu__planet.menu__class {
    background: #fb82ff94;
}
.menu__planet.menu__class::before {
    border: 6px solid rgba(0, 255, 221, 0.87);
    border-top: 0;
}
.menu__planet.menu__javascript {
    background: #2048c9d3;
}
.menu__planet.menu__javascript::before {
    border: 6px solid rgba(247, 244, 67, 0.911);
    border-top: 0;
}
.menu__planet.menu__site {
    background: #c6ff7bbb;
}
.menu__planet.menu__site::before {
    border: 6px solid rgb(255, 123, 0);
    border-top: 0;
}
.menu__planet.menu__html {
    background: #4828bdb6;
}
.menu__planet.menu__html::before {
    border: 6px solid rgba(233, 111, 168, 0.938);
    border-top: 0;
}

.menu__planet:after {
    content: "";
    width: 320px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    border-radius: 100%;
    z-index: -1;
}

.menu__planet:hover::before {
    animation: bounce 0.8s ease-out;
}

.menu__planet:hover::after {
    background-image: url('data:image/svg+xml;utf8,\
<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 400 400" width="160" height="160">\
<style>\
    @keyframes rotateShape %7Bto %7B transform: rotate(-360deg)}} %3C/style>\
<g>\
  <menu__planet cx="15" cy="85" r="10" style="fill:none;stroke-width:4;stroke:rgb(192,192,192);"/>\
  <polygon points="110 10, 100 30, 120 30" style="fill:none;stroke-width:2;stroke: rgb(255,102,102);transform-origin: 120px 25px;transform: rotate(-25deg);animation:rotateShape 2s linear infinite"/>\
<polygon points="110 100, 90 100, 90 120, 110 120" style="fill:none;stroke-width:2;stroke: rgb(0,102,204);transform-origin: 100px 110px;transform: rotate(5deg);animation:rotateShape 2s linear infinite"/>\
</g>\
</svg>');
    background-size: 100px 100px;
    animation: burst 0.8s ease-out;
}

@keyframes bounce {
    0% {
        transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
    }

    25% {
        transform: translate3d(-50%, -50%, 0) scale3d(1.2, 1.2, 1.2);
    }

    45% {
        transform: translate3d(-50%, -50%, 0) scale3d(0.85, 0.85, 0.85);
    }

    60% {
        transform: translate3d(-50%, -50%, 0) scale3d(1.05, 1.05, 1.05);
    }

    100% {
        transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
    }
}

@keyframes burst {
    60% {
        opacity: 1;
    }

    100% {
        transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
        opacity: 0;
    }
}